html{
  font-style: Helvetica;
}
.main-banner{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
.mediumspringgreen{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
.lightcoral{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}
.blue{
  font-weight: bold;
  color: blue;
}
.skyblue{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
